.app {
  text-align: center;
}

input {
  border-style: solid;
  
}

.add-player-form-cont {
  margin-top: 1em;
}

.time {
  display: flex;
  justify-content: center;
  font-size: 5em;
}

.buttons {
  text-align: center;
}

.buttons button {
  border-radius: 10%;
  border: none;
  width: 16em;
  height: 3em;
  margin: 0.3em;
}

.entry-points-form-cont {
  margin: 1em 0;
}

.turn-cont {
  margin: 1em 0;
}

.score-cont {
  display: flex;
  justify-content: space-evenly;
}

.player-score-cont {
}

.player-name {  
  
}

.player-total-cont {
  margin: 1em 0;
}

.player-point-cont {

}

.point {

}

.new-game-cont button {
  margin: 1em;
}